@model CarouselItem
@{
    ViewData["Title"] = "Create Carousel item";
}
<h1>@ViewData["Title"]</h1>

@section Styles
{
    <link rel="stylesheet" href="~/css/homepage-styles.css">
}

@{
    ViewBag.Action = nameof(CarouselController.Create);
}

<partial name="CreateEditWithForm" model="Model">
    @section Scripts
    {
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/js/FileContentTypeValidation.js"></script>
    }
