
@model RequestViewModel

@{
    ViewData["Title"] = "Request Product Return";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/homepage-styles.css">
}

<div class="px-5 pt-4">
    <div class="d-flex justify-content-center">
        <div class="card p-3">
            <h1 class="text-success">Request sent</h1>

            @{
                if (Model != null)
                {

                    if (Model.OrderItem.Product != null)
                    {
                        <p><b>Product:</b> <a asp-area="" asp-controller="Product" asp-action="Detail" asp-route-ID="@Model.OrderItem.Product.ID">@Model.OrderItem.Product.Name</a></p>
                        <div class="d-flex flex-column">
                            <div class="d-flex justify-content-center">
                                <img class="card-img-top p-2 w-50" src="@Model.OrderItem.Product.ImageSource" />
                            </div>
                            @{
                                if (Model.OrderItem.Product.DigitalProduct)
                                {
                                    if (Model.Approved)
                                    {
                                        <h2 class="text-success text-center">Approved &#10004;</h2>
                                    }
                                    else
                                    {
                                        <h2 class="text-danger text-center">Disapproved &#10060;</h2>
                                    }
                                } 
                                else
                                {
                                    <h2 class="text-warning text-center">Request will be processed soon</h2>
                                }
                            }
                        </div>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-outline-dark w-25" type="button" asp-area="ReturnModule" asp-controller="Return" asp-action="Index">
                                Back
                            </a>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>

