@{
    ViewData["Title"] = "Privacy Policy";
}

@section Styles {
    <link rel="stylesheet" href="~/css/homepage-styles.css">
}

<div class="px-5 pt-4">
    <h1>Zásady ochrany osobních údajů</h1>

    <p class="lead">
        Ochrana dat má pro správu E-SHOPu obzvlášť vysokou prioritu. Používání internetových stránek E-SHOPu je možné bez uvedení osobních údajů; pokud však chce subjekt údajů prostřednictvím našich webových stránek využívat speciální podnikové služby, může být zpracování osobních údajů nezbytné. Pokud je zpracování osobních údajů nezbytné a neexistuje pro takové zpracování zákonný základ, zpravidla získáváme souhlas subjektu údajů.
    </p>
    <p class="lead">
        Zpracování osobních údajů, jako je jméno, adresa, e-mailová adresa nebo telefonní číslo subjektu údajů, musí být vždy v souladu s obecným nařízením o ochraně osobních údajů (GDPR) a v souladu s ochranou údajů konkrétní země. předpisy platné pro E-SHOP. Prostřednictvím tohoto prohlášení o ochraně údajů by náš podnik rád informoval širokou veřejnost o povaze, rozsahu a účelu osobních údajů, které shromažďujeme, používáme a zpracováváme. Kromě toho jsou subjekty údajů prostřednictvím tohoto prohlášení o ochraně údajů informovány o právech, na která mají nárok.
    </p>
    <p class="lead">
        E-SHOP jako správce zavedl řadu technických a organizačních opatření k zajištění co nejúplnější ochrany osobních údajů zpracovávaných prostřednictvím těchto webových stránek. Internetové datové přenosy však mohou mít v zásadě bezpečnostní mezery, takže absolutní ochrana nemusí být zaručena. Z tohoto důvodu nám může každý subjekt údajů svobodně předat osobní údaje alternativními prostředky, např. telefonem.
    </p>
</div>